# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
media/
staticfiles/
local_settings.py

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# dotenv
.env
*.env

# Coverage
htmlcov/
.coverage
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Logs
*.log

# Node modules (if using npm for frontend)
node_modules/

# Build
build/
dist/
*.egg-info/
